.page {
    padding-top: 2vh;
    padding-bottom: 10vh;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

a:not(.actualAnchor) {
    /* blue colors for links too */
    color: inherit;

    /* no underline */
    text-decoration: inherit;
}

.quill-chord-selected {
    background-color: yellow;
}

.quill-chord {
    display: inline-block;
    position: relative;
    padding-top: 1.5em;
    text-decoration: overline;
    /* background-color: yellow; */
}

.quill-chord:after {
    content: attr(data-chord);
    color: red;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #9012ff;
}

.rs-theme-dark {
    .custom-stack-style {
        background: var(--rs-gray-800);
    }
}